fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
pydantic[email]
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pdfplumber
scikit-learn==1.4.0
joblib==1.3.2
